<h1 class="text-center">Inspirational and motivational Quotes about Success and life</h1>
<section class="intro container ">
  <div>

    <p>Inspirational quotes and motivational sayings have an amazing ability to change the way we feel about life. This
      is
      why i find them so interesting and crucial on our paths to success. <br> So whats the secret? <br>The way you
      think
      and feel about yourself, including your beliefs and expectations about what is possibles for you, determines
      everything that happens to you.When you change the quality of your thinking, you change the quality of your life
    </p>

  </div>
  <div class="new-quote">
    <app-quote-form></app-quote-form>
  </div>
</section>



