/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}
html{
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  background: url('./assets/img/quote.jpg'), rgb(0, 162, 255);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
